---
layout: default
permalink: /solutions/
---

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>

    <body>
        
        {% include partials/header.html %}

        <h1 class="center-text">Solutions Page</h1>

        <div>


        </div>

        <div>

            <h2>
                PC Building
            </h2>

            <p>
                Need a custom PC? We offer a PC building service that is catered to a variety of use-cases and budgets.
            </p>

        </div>

        <br/>

        <div>

            <h2>
                Website Developement
            </h2>

            <p>
                Need a Website, Web Application, or Mobile Application? Geared Solutions has you covered!
            </p>

        </div>

        

        {% include partials/footer.html %}
    </body>
</html>