body {
    background-color:#1B2021;
    color: #fff;
    }


header h3 {
    color: #fff;
}

    
header h4 {
    color: #fff;
}

footer h3 {
    color: #fff;
}


footer h4 {
    color: #fff;
}

.center-text{
    text-align: center;
}

li {
    display: inline;
  }

 .header-nav-bar-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #04AA6D;
}