body {
    background-color:#1B2021;
    color: #fff;
    }


header h3 {
    color: #fff;
}

    
header h4 {
    color: #fff;
}

footer h3 {
    color: #fff;
}


footer h4 {
    color: #fff;
}

.center-text{
    text-align: center;
}