<header>

    <div class="center-text">

        <div class="header-nav-bar">

            <ul class="header-nav-bar-list">
                <li>
                    <a href="www.gearedsolutions.com">Home</a>
                </li>

                <li>
                    <a href="www.gearedsolutions.com/about">About</a>
                </li>

                <li>
                    <a href="www.gearedsolutions.com/solutions">Solutions</a>
                </li>
            </ul>
        </div>

        <h3>This is the header</h3>
        
        <hr/>
    
    </div>

</header>

